<div class="js-nested-fields js-class-location">
  <div class="d-none">
    <%= f.input :address, input_html: { class: 'js-location-address' } %>
    <%= f.input :city, input_html: { class: 'js-location-city' } %>
    <%= f.input :postal_code, input_html: { class: 'js-location-postal_code' } %>
    <%= f.input :state, input_html: { class: 'js-location-state' } %>
    <%= f.input :state_code, input_html: { class: 'js-location-state_code' } %>
    <%= f.input :country_code, input_html: { class: 'js-location-country_code' } %>
    <%= f.input :longitude, input_html: { class: 'js-location-longitude' } %>
    <%= f.input :latitude, input_html: { class: 'js-location-latitude' } %>
  </div>

  <div class="js-location-address-label">
    <%= f.object.address %>
  </div>

  <span><a class="js-edit-location" href="#">Edit</a></span>
  <span><%= link_to_remove_association "Remove", f, { wrapper_class: 'js-nested-fields' } %></span>
</div>

