<div>
  <%= image_tag user.avatar.url, :style => "width:200px; height:200px;" %>
</div>
<div>
  <%= f.error :avatar %>
</div>
<div>
  Upload from disk:
  <%= f.file_field :avatar %>
</div>
<div>
  Or upload from an URL:
  <%= f.text_field :remote_avatar_url %>
</div>
<%= f.hidden_field :avatar_cache %>

<div> Remove avatar <%= f.check_box :remove_avatar %></div>
