<h2>User profile</h2>
<h4><%= @user.first_name %></h4>
<!-- Hide -->
<% confidential_data @user do %>
  <div>Full name: <%= @user.first_name + ' ' + @user.last_name %></div>
<% end %>
<div>City: <%= @user.city %></div>
<div>Country code: <%= @user.country_code %></div>

<div>
  <%= image_tag(current_user.avatar.url) %>
</div>

<% if policy(@user).update? %>
  <%= link_to "Edit user", edit_user_path %>
<% end %>
