<div class="nested-fields">
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :postal_code %>
  <%= f.input :state %>
  <%= f.input :country_code %>
  <%= link_to_remove_association "Remove address", f %>
</div>
