<nav class="navbar navbar-expand-sm topbar">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag "clascity-logo.svg" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to "Search a class", classes_path, class: "nav-item nav-link" %>
      <a class="nav-item nav-link" href="#">help</a>
      <% if user_signed_in? %>
        <%= render "layouts/topbar/authed_nav_items" %>
      <% else %>
        <%= render "layouts/topbar/no_authed_nav_items" %>
      <% end %>
    </div>
  </div>
</nav>
