<form class= "js-search-location-form">

  <div>
    <%=label_tag 'Country' %>
    <%= country_select nil, :country, selected: current_user.country_code, class:
'js-country_code' %>
  </div>

  <div>
    <%=label_tag 'City' %>
    <%=text_field_tag 'city', current_user.city.capitalize, class: 'js-input-city' %>
  </div>

  <div>
    <%=label_tag 'Street address' %>
    <%=text_field_tag 'street_address', nil, class: 'js-input-street_address' %>
  </div>

  <div>
    <%=label_tag 'State / Province' %>
    <%=text_field_tag 'state', nil, class: 'js-input-state' %>
  </div>

  <div>
    <%=label_tag 'Postal Code' %>
    <%=text_field_tag 'postal_code', nil, class: 'js-input-postal_code' %>
  </div>

  <div>
    <button type="button" class="js-submit">Search</button>
  </div>
</form>
