<div class="js-location-result-address"><%= result[:address] %></div>
<div class="js-location-result-city"><%= result[:city] %></div>
<div class="js-location-result-postal_code"><%= result[:postal_code] %></div>
<div class="js-location-result-state"><%= result[:state] %></div>
<div class="js-location-result-state_code"><%= result[:state_code] %></div>
<div class="js-location-result-country_code"><%= result[:country_code] %></div>
<div class="js-location-result-longitude"><%= result[:longitude] %></div>
<div class="js-location-result-latitude"><%= result[:latitude] %></div>
<div class="location-map js-location-map"></div>
